*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
}
*::selection{
    color: #333;
    background: #fff;
}
body{
    background: #333;
}